<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oriri.mapper.ActicityMapper">
    <select id="getActivityList" resultType="com.oriri.vo.ActivityListVO">
        select
        main.activity_id,
        main.activity_name,
        main.activity_location,
        main.activity_date
        from sys_activity main
        where 1= 1
        <if test="dto.activityId !=null">
            and main.activity_id = #{dto.activityId}
        </if>
        <if test="dto.activityName !=null">
            and main.activity_name = #{dto.activityName}
        </if>
        <if test="dto.activityLocation !=null">
            and main.activity_location = #{dto.activityLocation}
        </if>
        <if test="dto.activityDate !=null">
            and main.activity_date = #{dto.activityDate}
        </if>
         order by main.activity_name
    </select>

    <select id="getActivityassessmentList" resultType="com.oriri.vo.ActivityassessmentListVO">
        select
        main.activityassessment_id,
        main.activity_id,
        main.student_id,
        main.activityassessment_name,
        main.photograph,
        main.comment,
        stu.student_name,
        ac.activity_name
        from sys_activityassessment main
        left join sys_activity ac on ac.activity_id = main.activity_id
        left join sys_student stu on stu.student_id = main.student_id
        where 1= 1
<!--        <if test="dto.activityId !=null">-->
<!--            and main.activity_id = #{dto.activityId}-->
<!--        </if>-->
<!--        <if test="dto.activityName !=null">-->
<!--            and main.activity_name = #{dto.activityName}-->
<!--        </if>-->
<!--        <if test="dto.activityLocation !=null">-->
<!--            and main.activity_location = #{dto.activityLocation}-->
<!--        </if>-->
<!--        <if test="dto.activityDate !=null">-->
<!--            and main.activity_date = #{dto.activityDate}-->
<!--        </if>-->
<!--        order by main.activity_name-->
    </select>

</mapper>